body {
  background: #020631;
}

h1 {
  color: wheat;
}

.centerIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container {
  max-width: 600px;
  margin: 50px auto;
}

.todo-header {
  text-align: center;
  margin-bottom: 30px;
}

.todo-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.todo-item i {
  cursor: pointer;
  color: #dc3545;
}

.task-count {
  text-align: right;
  margin-top: 20px;
  color: wheat;
}

.icon-hide {
  visibility: hidden;
}

.todo-item:hover .icon-hide {
  visibility: visible;
}
